<section id="pong-container">
	<h1></h1>
	<div class="scoreboard">
		<div id="player1-score">
			<img id="player1-avatar" src="/user_management/api/users/avatar/1/" alt="Player 1 Avatar" width="50" height="50">
			<br>
			<span id="player1-name-score">Player 1</span>
		</div>
		<div id="player2-score">
			<img id="player2-avatar" src="/user_management/api/users/avatar/1/" alt="Player 2 Avatar" width="50" height="50">
			<br>
			<span id="player2-name-score">Player 2</span>

		</div>
	</div>
	<canvas id="pongCanvas" width="600" height="400"></canvas>
	<button type="button" class="btn btn-danger" id="cancel-button-onlineFriends">Reject</button>
</section>
