<div class="container mt-5">
    <!-- Card principal -->
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header bg-dark d-flex justify-content-center align-items-center" style="color: #f6f8fa;">
            <h5 class="mb-0"><b>Choose Match History</b></h5>
        </div>
        <div class="card-body">
            <!-- Descripciones y botones A y B -->
            <div class="d-flex justify-content-around mt-3">
                <div class="container mt-2 spa-route" data-path="/MatchHistory1v1" style="max-width: 500px;">
                    <!-- Cuarto botón: Local Tournament -->
                    <div class="d-flex align-items-center border rounded-2 p-2 mb-2 spa-route bg-dark" style="color: #f6f8fa; height: auto;" data-path="/MatchHistory1v1">
                        <i class="bi bi-house-heart text-danger spa-route" style="font-size: 40px; margin-right: 10px;" data-path="/MatchHistory1v1"></i>
                        <div>
                            <h5 class="mb-0 spa-route" data-path="/MatchHistory1v1"><b class="spa-route" data-path="/MatchHistory1v1">Pong Game</b></h5>
                            <small class="text-white spa-route" style="font-size: 10px;" data-path="/MatchHistory1v1">See Pong Game stats</small>
                        </div>
                    </div>
                </div>
                <div class="container mt-2 spa-route" data-path="/MatchHistory1v1_cobete" style="max-width: 500px;">
                    <!-- Cuarto botón: Local Tournament -->
                    <div class="d-flex align-items-center border rounded-2 p-2 mb-2 spa-route bg-dark" style="color: #f6f8fa; height: auto;" data-path="/MatchHistory1v1_cobete">
                        <i class="bi bi-rocket text-info spa-route" style="font-size: 40px; margin-right: 10px;" data-path="/MatchHistory1v1_cobete"></i>
                            <h5 class="mb-0 spa-route" data-path="/MatchHistory1v1_cobete"><b class="spa-route" data-path="/MatchHistory1v1_cobete">Cobete Game</b></h5>
                            <small class="text-white spa-route" style="font-size: 10px;" data-path="/MatchHistory1v1_cobete">See Cobete Game stats</small>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>