<div class="container mt-5">
    <!-- Card principal -->
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header bg-dark d-flex justify-content-center align-items-center" style="color: #f6f8fa;">
            <h5 class="mb-0"><b>Online Multiplayer</b></h5>
        </div>
        <div class="card-body">
            <!-- Descripciones y botones A y B -->
            <div class="d-flex justify-content-around mt-3">
                <div class="container mt-2 spa-route" data-path="/OnlineMultiplayer" style="max-width: 500px;">
                    <!-- Cuarto botón: Local Tournament -->
                    <div class="d-flex align-items-center border rounded-2 p-2 mb-2 spa-route bg-dark" style="color: #f6f8fa; height: auto;" data-path="/OnlineMultiplayer">
                        <i class="bi bi-joystick text-primary spa-route" style="font-size: 40px; margin-right: 10px;" data-path="/OnlineMultiplayer"></i>
                        <div>
                            <h5 class="mb-0 spa-route" data-path="/OnlineMultiplayer"><b class="spa-route" data-path="/OnlineMultiplayer">2 Players</b></h5>
                            <small class="text-white spa-route" style="font-size: 10px;" data-path="/OnlineMultiplayer">Play a 1v1 game</small>
                        </div>
                    </div>
                </div>
                <div class="container mt-2 spa-route" data-path="/OnlineMultiplayer4" style="max-width: 500px;">
                    <!-- Cuarto botón: Local Tournament -->
                    <div class="d-flex align-items-center border rounded-2 p-2 mb-2 spa-route bg-dark" style="color: #f6f8fa; height: auto;" data-path="/OnlineMultiplayer4">
                        <i class="bi bi-controller text-warning spa-route" style="font-size: 40px; margin-right: 10px;" data-path="/OnlineMultiplayer4"></i>
                        <div>
                            <h5 class="mb-0 spa-route" data-path="/OnlineMultiplayer4"><b class="spa-route" data-path="/OnlineMultiplayer4">4 Players</b></h5>
                            <small class="text-white spa-route" style="font-size: 10px;" data-path="/OnlineMultiplayer4">Play a tournament with people</small>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

