<div class="d-flex justify-content-center align-items-center vh-50">
  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <div class="container mt-2 spa-route" data-path="/SinglePlayerIA">
      <div class="d-flex align-items-center border rounded p-3 mb-2 spa-route bg-dark" style="color: #f6f8fa;" data-path="/SinglePlayerIA">
        <i class="bi bi-cpu spa-route text-warning" style="font-size: 50px; margin-right: 15px;" data-path="/SinglePlayerIA"></i>
        <div>
          <h5 class="mb-0 spa-route" data-path="/SinglePlayerIA"><b class="spa-route" data-path="/SinglePlayerIA">Pong Single Player</b></h5>
          <small class="text-white spa-route" data-path="/SinglePlayerIA">Play against an AI opponent</small>
        </div>
      </div>
    </div>
    <div class="container mt-2 spa-route" data-path="/LocalMultiplayer">
      <div class="d-flex align-items-center border rounded p-3 mb-2 spa-route bg-dark" style="color: #f6f8fa;" data-path="/LocalMultiplayer">
        <i class="bi bi-crosshair text-danger spa-route" style="font-size: 50px; margin-right: 15px;" data-path="/LocalMultiplayer"></i>
        <div>
          <h5 class="mb-0 spa-route" data-path="/LocalMultiplayer"><b class="spa-route" data-path="/LocalMultiplayer">Pong Local Multiplayer</b></h5>
          <small class="text-white spa-route" data-path="/LocalMultiplayer">Play against someone else on the same keyboard</small>
        </div>
      </div>
    </div>
    <div class="container mt-2 spa-route" data-path="/TournamentInterface">
      <div class="d-flex align-items-center border rounded p-3 mb-2 spa-route bg-dark" style="color: #f6f8fa;" data-path="/TournamentInterface">
        <i class="bi bi-globe text-info spa-route" style="font-size: 50px; margin-right: 15px;" data-path="/TournamentInterface"></i>
        <div>
          <h5 class="mb-0 spa-route" data-path="/TournamentInterface"> <b class="spa-route" data-path="/TournamentInterface">Pong Online Multiplayer</b></h5>
          <small class="text-white spa-route" data-path="/TournamentInterface">Play against other players over the internet</small>
        </div>
      </div>
    </div>  
  </div>
</div>
  