<div class="container mt-5">
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header text-center bg-dark" style="color: #f6f8fa;">
            <h5><b>Delete Friend</b></h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center vh-50">
                <form class="w-100" id="deleteFriendForm">
                    <p class="text-center">Do you really want to delete <mark style="font-weight: bold;" id="delete-friend-name"></mark> from your friend's list?</p>
                    <div class="d-flex justify-content-around mt-3">
                        <button type="button" class="btn btn-success" style="border: solid black;" id="delete-yes-botton">Yes</button>
                        <button type="button" class="btn btn-danger spa-route" style="border: solid black;" data-path="/Friends">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
