
<div class="container mt-5">
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header bg-dark d-flex justify-content-center align-items-center" style="color: #f6f8fa;">
            <h5 class="mb-0"><b>Login</b></h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center vh-50">
                <form class="w-50" id="signInForm"> 
                    <div class="mb-2 text-center">
                        <label for="username" class="form-label"><b>Username</b></label>
                        <input type="text" class="form-control mx-auto" id="username" style="max-width: 300px; border: solid blue" maxlength="150">
                    </div>
                    <div class="mb-2 text-center">
                        <label for="password" class="form-label"><b>Password</b></label>
                        <input type="password" class="form-control mx-auto" id="password" style="max-width: 300px; border: solid red;" maxlength="150">
                    </div>
                    <div class="mb-2 text-center" id="error-div"></div>
                    <div class="d-grid gap-2 mx-auto mb-2" style="max-width: 300px;">
                        <button type="submit" class="btn btn-dark" style="font-weight: bold;">Login</button>
                    </div>
                    <div class="text-center">
                        <a href="https://10.14.2.1:49998/user_management/api/oauth/login/">Login con 42</a>                    </div>
                </form>
                
            </div>
    
        </div>

    </div>
</div>


