<div class="container mt-5">
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header bg-dark d-flex justify-content-center align-items-center" style="color: #f6f8fa;">
            <h5 class="mb-0"><b>Profile</b></h5>
        </div>
        <div class="card-body">
            <div class="container text-center">
                <div class="position-relative">
                    <img id="avatarImage" src="img/avatar.jpg" alt="Avatar" class="rounded-circle" style="width: 100px; height: 100px; border: 2px solid black;">
                    <input type="file" id="imageInput" style="display: none;" accept="image/*">
                </div>
                <h4><b>Username: </b><span id="username">usuario</span></h4>

                <div class="mt-3 d-flex justify-content-center">
                    <button class="btn btn_profile1 btn-dark mx-1 flex-item text-warning" id="changePasswordBtn"><b>Change Password</b></button>
                    <button class="btn btn_profile1 btn-dark mx-1 flex-item text-danger" id="changeProfilelBtn"><b>Change Info</b></button>
                    <button class="btn btn_profile1 btn-dark mx-1 flex-item" id="changeAvatarBtn"><b>Change Avatar</b></button>
                </div>
            </div>

            <div class="mt-3 d-flex justify-content-center">
                <div class="text-center">
                    <input type="file" id="avatarInput" style="display: none;" accept="image/*">
                    <div id="changePasswordForm" class="collapse mt-3" style="display: none;">
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label"><b>Current Password</b></label>
                            <input type="password" class="form-control form-control_profile" id="currentPassword" placeholder="Enter current password" style="border: solid blue;" maxlength="150">
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label"><b>New Password</b></label>
                            <input type="password" class="form-control form-control_profile" id="newPassword" placeholder="Enter new password. Max 150 chars" style="border: solid red;" maxlength="150">
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label"><b>Confirm New Password</b></label>
                            <input type="password" class="form-control form-control_profile" id="confirmNewPassword" placeholder="Confirm new password" style="border: solid green;" maxlength="150">
                        </div>
                        <button class="btn btn-primary btn-light w-100" id="submitPasswordChange"><b>Submit</b></button>
                    </div>
                    <div id="changeProfileForm" class="collapse mt-3" style="display: none;">
                        <div class="mb-3">
                            <label for="display_nameProfile" class="form-label"><b>Display Name</b></label>
                            <input type="text" class="form-control form-control_profile" id="display_name" style="border: solid black" maxlength="150">
                        </div>

                        <div class="mb-3">
                            <label for="first_nameProfile" class="form-label"><b>First Name</b></label>
                            <input type="text" class="form-control form-control_profile" id="first_name" style="border: solid green" maxlength="150">
                        </div>
                        <div class="mb-3">
                            <label for="last_nameProfile" class="form-label"><b>Last Name</b></label>
                            <input type="text" class="form-control form-control_profile" id="last_name" style="border: solid purple;" maxlength="150">
                        </div>
                        <button class="btn btn-primary btn-light w-100" id="submitProfileChange"><b>Submit</b></button>
                    </div>
                    <div class="mt-4">
                        <h4>Two-Factor Authentication</h4>
                        <div id="twoFAStatus">
                        </div>
                        <button id="toggle2FA" class="btn btn-primary mt-2" style="font-weight: bold; border: solid black;">
                            Enable 2FA
                        </button>
                        <div id="qrCodeContainer" class="mt-3" style="display: none;">
                        </div>
                    </div>
                    <div class="mt-4">
                        <p><b>Created at: </b><span id="date_joined">2023-09-01</span></p>
                    </div>
                </div>
            </div>
            <div id="profile-container">
            </div>
            <div class="d-flex">
                <div class="container mt-2 spa-route" data-path="/MatchHistory1v1_interface" style="max-width: 500px;">
                    <div class="d-flex align-items-center border rounded-2 p-2 mb-2 spa-route bg-dark" style="color: #f6f8fa; height: 100px;" data-path="/MatchHistory1v1_interface">
                        <i class="bi bi-list-ol text-info spa-route" style="font-size: 40px; margin-right: 10px;" data-path="/MatchHistory1v1_interface"></i>
                        <div>
                            <h5 class="mb-0 spa-route" data-path="/MatchHistory1v1_interface"><b class="spa-route" data-path="/MatchHistory1v1_interface">1v1 History</b></h5>
                            <small class="text-white spa-route" data-path="/MatchHistory1v1_interface">1v1 game stats</small>
                        </div>
                    </div>
                </div>
                <div class="container mt-2 spa-route" data-path="/MatchHistoryTournament" style="max-width: 500px;">
                    <div class="d-flex align-items-center border rounded-2 p-2 mb-2 spa-route bg-dark" style="color: #f6f8fa; height: 100px;" data-path="/MatchHistoryTournament">
                        <i class="bi bi-list-ol text-info spa-route" style="font-size: 40px; margin-right: 10px;" data-path="/MatchHistoryTournament"></i>
                        <div>
                            <h5 class="mb-0 spa-route" data-path="/MatchHistoryTournament"><b class="spa-route" data-path="/MatchHistoryTournament">Tournament History</b></h5>
                            <small class="text-white spa-route" data-path="/MatchHistoryTournament">Tournament stats</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
