<div class="container mt-5">
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header bg-dark d-flex justify-content-center align-items-center" style="color: #f6f8fa;">
            <h5 class="mb-0"><b>Register</b></h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center vh-50">
                <form class="w-50" id="signupForm">
                    <div class="mb-2 text-center">
                        <label for="username" class="form-label"><b>Username</b></label>
                        <input type="text" class="form-control mx-auto" id="username" required style="max-width: 300px; border: solid green;" placeholder="Max 150 characters" maxlength="150">
                    </div>
                    <div class="mb-2 text-center">
                        <label for="email" class="form-label"><b>Email address</b></label>
                        <input type="email" class="form-control mx-auto" id="email" required style="max-width: 300px; border: solid orange;" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" title="Por favor, ingresa un correo válido. Ejemplo: usuario@dominio.com" placeholder="Max 150 characters" maxlength="150">
                    </div>
                    <div class="mb-2 text-center">
                        <label for="password" class="form-label"><b>Password</b></label>
                        <input type="password" class="form-control mx-auto" id="password" required style="max-width: 300px; border: solid purple;" placeholder="Max 150 characters" maxlength="150">
                    </div>
                    <div class="mb-2 text-center">
                        <label for="confirmPassword" class="form-label"><b>Confirm Password</b></label>
                        <input type="password" class="form-control mx-auto" id="confirmPassword" required style="max-width: 300px; border: solid purple;" maxlength="150">
                    </div>
                    <div class="mb-3 text-center">
                        <label for="first_name" class="form-label"><b>First Name</b></label>
                        <input type="text" class="form-control mx-auto" id="first_name" required style="max-width: 300px; border: solid blue;" placeholder="Max 150 characters" maxlength="150">
                    </div>
                    <div class="mb-2 text-center">
                        <label for="last_name" class="form-label"><b>Last Name</b></label>
                        <input type="text" class="form-control mx-auto" id="last_name" required style="max-width: 300px; border: solid red;" placeholder="Max 150 characters" maxlength="150">
                    </div>
                    <div class="mb-2 text-center" id="error-div-register"></div>
                    <div class="d-grid gap-2 mx-auto mb-2" style="max-width: 300px;">
                        <button type="submit" class="btn btn-dark" style="font-weight: bold;">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>