<div class="container mt-5">
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header bg-dark d-flex justify-content-center align-items-center" style="color: #f6f8fa;">
            <h5 class="mb-0"><b>Find user</b></h5>
        </div>
        <div class="card-body">
            <p><b>Please enter username: </b></p>
            <form id="search-user-form" class="d-flex align-items-center mb-0" style="width: 100%;">
                <div class="mb-0 me-2" style="flex-grow: 1;">
                    <input type="text" class="form-control" id="search-username" placeholder="Username" value="" style="border: solid black; background-color: rgba(63, 63, 64, 0.106);" maxlength="150">
                </div>
                <button type="submit" class="btn btn-warning d-flex justify-content-center align-items-center" style="width: 127px; border: solid black;"><b>Search</b></button>
            </form> 
            <div class="mt-4">
                <ul class="list-group" id="results-list" style="width: 100%;">
                </ul>
            </div>
        </div>
    </div>
</div>



